
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;


}
body{
    background-image:url(bg.jpg);
    background-position: center;
    background-size:cover;
    margin: 0px;

}
section{
    position: relative;
    margin: 0 8px;
    transition: 0.5s ease;
}
.Main{
    position:relative;
}
.tab-menu{
    color:white;
    background-color: orange;
    width:8000px;
    padding: 10px;
    white-space: nowrap;
    border-radius:50px;
    box-shadow: var(box-shadow);
    padding-left: 15px;
    word-spacing: 300px;
    text-align: center;
    

}
.tab-btn{
    color:white;
    display:inline-block;
    font-size: 1em;
    font-weight:  400;
    margin: 0 2px;
    padding:10 20px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    transition:0.5s ease;
    
}
.tab-nav-bar{
    position:relative;
    margin: 65px 10px 40px 10px;
}
.tab-navigation{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}
.tab-btn:hover{
    text-decoration: underline black 2px;
    transition:0.3s all;

}
.H1{
    color: burlywood;
    text-align: center;
    padding:10px;
    font-family: "Poppins", sans-serif;
    
}
    
h1{
    text-align: left;
    width: 100%;

}
.div1{
    text-align:right;
    position: center;
}
button{
    border-radius: 50px;
    border:2px solid transparent;
    margin: 1px;
    padding:10px 26px;
    background-color: orange;
    gap: 23px;
}
.div2{
    height: 25%;
    text-align: left;
    background-color: antiquewhite;
    margin:20px;
    padding: 20px;
    border-radius: 50px;
}
img{
    height: 300px;
    
}
.div3{
    border-radius: 50px;
    margin:10px;
    padding: 20px;
    background-color: cornsilk;
    text-align: right;
}
.div4{
    border-radius: 50px;
    margin:10px;
    padding: 20px;
    background-color: darksalmon;

}
.div5{
    border-radius: 50px;
    margin: 10px;
    padding: 20px;
    background-color:khaki;
    text-align: right;
}
.H3{
    text-align: left;
}
.H2{
    text-align: right;
    padding: 20px;
}
